@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1: #012EA9;
    --cor2: #3F00AA;
    --cor3: #2B667E;
    --cor4: #A97C01;
}

.cabecalho{
    background-image: linear-gradient(to left ,var(--cor3),  black);
    color: var(--cor4);
    display: flex;
    flex-direction: column;

    margin-bottom: 5px;
    box-shadow: 0px 1px 3px black;
}

.cabecalho > p{
    text-align: center;
    padding: 2px;
    margin-bottom: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px 20px;
    font-size: 2.5em;
}

.principal{
    display: flex;
    flex-direction: column;
    text-align: center;

    background-image: linear-gradient(to bottom left, white, var(--cor4));
}

.artigo{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 300px;
    margin: auto;

    margin-top: 5%;
}

.imagem{
    margin: 1px;
    height: 150px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px black;

    cursor: pointer;
}

.imagem:hover{
    opacity: 75%;
    transition: 0.3s;
}

.artigo > p{
    opacity: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.78em;
    margin-top: 3px;
}

.botao{
    display: inline-block;
    background-color: black;
    color: var(--cor4);
    text-decoration: none;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px 4px rgba(86, 86, 86, 0.234);

    width: 150px;
    margin-top: 8px;
    padding: 4px;
}

.botao:hover{
    background-color: rgba(0, 0, 0, 0.821);
    font-size: 1.01em;
    transition: 0.3s;
}

@media screen and (min-width: 768px) and (orientation: landscape){
    .conteudo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .artigo{
        max-width: 450px;
    }
}

